/* Common shared styles */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.section-description{
    color:#757575;
    text-align: center;
    font-size: 18px;
}

/* Navigation related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding: 20px 50px;
    flex-wrap: wrap;
}

.nav-title {
    color: #181818;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 50px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}

nav a:hover {
    color: #FD6E0A;
}

/* Header related styles */
.header {
    background-color: #FFF8F3;
    padding: 10px 0;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

    
    
}

/* Banner related styles */
.banner {
    padding: 30px 30px 0px 150px; /* Fixed extra spaces */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align image and text better */
}
.banner-content{
    max-width:500px;
}
.banner-profile {
    width: 500px; /* Added 'px' for width */
    height: auto; /* Keep the aspect ratio */
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-heading {
    font-size: 45px;
    font-weight: 700;
    margin-top: 5px ;
    margin-bottom: 20px;
   
}
.banner-description{
    margin-top: 5px;
    margin: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .banner {
        flex-direction: column; /* Stack text and image vertically on smaller screens */
        padding: 20px;
    }

    .banner-profile {
        width: 300px;
        margin-top: 20px;
    }

    nav {
        margin: 0 20px;
        padding: 10px;
    }

    .nav-title {
        font-size: 30px;
    }
}
.about{
    padding:130px ;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}